@font-face {
    font-family:'Noto_Sans' ;
    src: url('/Noto_Sans_JP/static/NotoSansJP-Bold.ttf');
}
body{
    background-image: url(/assests/last.jpeg);
    background-size: cover;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto_Sans', sans-serif;
    color: #fff;
    text-align: center;
}
p{
    color: #fff
}
.working{
    text-align: center;
}
.Timer{
    text-align: center;
    font-size: 200px;
}
.setting-page{
    text-align: right;
    top: 0;
    right: 0;
    position: absolute;
}
.working button {
    background-color: white; /* Set the background color */
    color: black; /* Set the text color */
    border: none; /* Remove the border */
    padding: 10px 20px; /* Add padding */
    margin-right: 10px; /* Add some space between buttons */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add a cursor on hover */
  }
  
  .working button:hover {
    background-color: orange; /* Change the background color on hover */
  }